
# DOCKER COMPOSE 

COMPOSE_CONVERT_WINDOWS_PATHS=1

# CONFIGURACION DE METADATOS De AIRFLOW

AF_DB_USER=airflow
AF_DB_PASS=airflow
AF_DB_NAME=airflow

AIRFLOW__WEBSERVER__SECRET_KEY=reemplazar_con_string_random

# CONFIGURACION DEL DATA WAREHOUSE 

SOURCE_DB_USER=tu_usuario
SOURCE_DB_PASS=tu_password
SOURCE_DB_NAME=weather_dwh

#  AJUSTES GENERALES

AIRFLOW__CORE__PARALLELISM=4
AIRFLOW__CORE__MAX_ACTIVE_TASKS_PER_DAG=4
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW_UID=0
AIRFLOW__CORE__EXECUTOR=LocalExecutor

# AUTENTIFICACIÓN 

AIRFLOW__CORE__SIMPLE_AUTH_MANAGER_ALL_ADMINS=True