# Credenciales de base de datos
DB_HOST=localhost
DB_PORT=5432
DB_USER=grupo03
DB_PASS=admin123
DB_NAME=weather_data

# API Open-Meteo 
OPEN_METEO_BASE_URL=https://api.open-meteo.com/v1/forecast

# Variables de entorno del DAG
AIRFLOW_HOME=/opt/airflow
LOG_LEVEL=INFO