COMPOSE_CONVERT_WINDOWS_PATHS=1

AF_DB_USER=airflow
AF_DB_PASS=airflow
AF_DB_NAME=airflow

AIRFLOW__WEBSERVER__SECRET_KEY=94943fcf3eef3f6f94f943fcf3eef3f6
AIRFLOW__CORE__PARALLELISM=4
AIRFLOW__CORE__MAX_ACTIVE_TASKS_PER_DAG=4
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW_UID=0
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__SIMPLE_AUTH_MANAGER_ALL_ADMINS=True

SOURCE_DB_USER=admin
SOURCE_DB_PASS=admin
SOURCE_DB_NAME=InfraCienciaDatos
